/* Text */

.text-center {
    text-align: center;
}

.heading-small {
    font-size: 1.25rem;
}
.heading-medium {
    font-size: 1.5rem;
}
.heading-big {
    font-size: 1.75rem;
}

/* Colors */

.bg-black {
    background: black; 
}
.bg-white {
    background: white;
}
.bg-yellow {
    background: rgb(241, 65, 33);
}

/* Container */

.container {
    max-width: 1100px;
    margin: 0 auto;
}