#navbar {
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    width: 100%;
    height: auto;
}
#home {
    width: 100%;
    width: auto;
}
#bir {
    flex-direction: column;
}
#altı{
    flex-direction: column;
}
#altfotolar{
    flex-direction: column;
}